@font-face {
  font-family: "Berlin Sans FB Demi Bold";
  src: url("../fonts/Berlin\ Sans\ FB\ Demi\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Berlin Sans FB";
  src: url("../fonts/Berlin\ Sans\ FB\ Regular.ttf");
}

@font-face {
  font-family: "Spartan Light";
  src: url("../fonts/Spartan-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --transition-duration: 1s;
  transition: background-color var(--transition-duration) ease,
    color var(--transition-duration) ease;

  --purple: #130139;
  --white: #fff;
  --white-menu: #f8f8f8;
  --black: #000;
  --iris: #1c0541;
  --font: #eff7ff;
  --menu: rgba(17, 6, 40, 0.6);
  --hyperlink: #5200ff;

  font-size: 62.5%;
  color: var(--white);
}

.light-theme {
  --purple: #fff;
  --white: #130139;
  --white-menu: #130139;
  --font: #000;
  --menu: rgba(223, 220, 231, 0.6);
  --hyperlink: #fff;
  --iris: #fff;
}

body {
  transition: background-color var(--transition-duration) ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 100vh;
  background-color: var(--purple);
}

header {
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.3rem 1.9rem;
}

#theme-toggle {
  transition: src var(--transition-duration) ease;
}

#logo {
  transition: src var(--transition-duration) ease;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2.3rem;
  gap: 0.8rem;
}

.title h1 {
  font-family: "Berlin Sans FB Demi Bold";
  font-size: 2.5rem;
}

.title p {
  font-family: "Berlin Sans FB";
  font-size: 1rem;
  color: var(--font);
}

.title p:last-child {
  margin-top: 2.9rem;
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;
  margin-top: 2.9rem;
}

.buttons button {
  width: 15.2rem;
  height: 2.9rem;
  border-radius: 1.1rem;
  border: none;
  background: var(--white);

  font-family: "Berlin Sans FB Demi Bold";
  font-size: 1.2rem;
  color: var(--iris);
}

nav {
  margin-top: 5.2rem;
}

#menu {
  transition: src var(--transition-duration) ease;
  cursor: pointer;
}

.menu-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: var(--menu);
  backdrop-filter: blur(1rem);
  filter: blur(0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: 0.7s;
  padding: 1rem;
  width: 21.7rem;
  height: 31rem;
  border-radius: 2rem;
  z-index: 3;
}

.menu ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.menu ul li {
  list-style: none;
  width: 100%;
  margin-top: 2rem;
}

.menu ul li a {
  width: 100%;
  text-decoration: none;
  line-height: 4rem;
  display: flex;
  justify-content: center;
  outline: none;
}

.menu ul li a span {
  font-family: "Berlin Sans FB";
  font-size: 1.6rem;
  color: var(--white);
}

.menu-box.open .menu {
  position: absolute;
  top: calc(12rem);
  left: 50%;
  transform: translateX(-50%) scale(1);
}

footer {
  position: fixed;
  bottom: -24.7rem;
}

.eye {
  width: 36rem;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.iris {
  width: 9.1rem;
  height: 9.1rem;
  background-color: var(--iris);
  border-radius: 50%;
  position: absolute;
}

/* Loading Screen */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #130139;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader-logo {
  width: 30rem;
  height: 30rem;
  background-image: url("../images/loading.svg");
  background-size: contain;
  background-repeat: no-repeat;
  animation: pulse 0.4s infinite alternate;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
